---
import { GITHUB_REPO_URL, TWITTER_URL } from '../config';
import Link from './Link.astro';

const navLinks = [
  {
    title: 'Bookmarks',
    href: '/bookmarks',
    isExternal: false,
  },
  {
    title: 'Listas',
    href: '/lists',
    isExternal: false,
  },
  {
    title: 'Tags',
    href: '/tags',
    isExternal: false,
  },
  {
    title: 'GitHub',
    href: GITHUB_REPO_URL,
    isExternal: true,
  },
  {
    title: 'Twitter',
    href: 'https://twitter.com/pviana0',
    isExternal: true,
  },
  {
    title: 'RSS',
    href: '/rss.xml',
    isExternal: true,
  },
];
---

<footer>
  <p>
    {new Date().getUTCFullYear()}
  </p>
  <nav>
    <ul>
      {navLinks.map(link => (
        <li>
          <p>
            <Link href={link.href} isExternal={link.isExternal}>
              {link.title}
            </Link>
          </p>
        </li>
      ))}
    </ul>
  </nav>
  <div>
    <p>The blog is under <Link href={`${GITHUB_REPO_URL}/blob/main/LICENSE`} isExternal>GNU AGPLv3</Link> and <Link href={`${GITHUB_REPO_URL}/blob/main/LICENSE-posts`} isExternal>CC BY-SA 4.0</Link> licenses.</p>
    <p>If you want to reach me, feel free to contact on <Link href={TWITTER_URL}>Twitter</Link> or via <Link href="mailto:pedrohenriqueleandroviana@gmail.com">email</Link>.</p>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--spacing-4x);
    padding-top: var(--spacing);
    gap: 16px;
  }

  @media screen and (max-width: 425px) {
    footer {
      flex-direction: column-reverse;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
    }

    footer * {
      flex: 1;
      text-align: center;
    }
  }

  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2x);
  }
</style>